.sort {
  display: flex;
  gap: 4px;
}

.sortButton {
  padding: 6px 12px;
  border: none;
  background: none;
  font-size: 13px;
  color: #a89a7d;
  cursor: pointer;
  position: relative;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background-color: #ece5d8;
  }

  &:hover {
    color: #2e2a22;
  }
}

.active {
  color: #b9905a;
  font-weight: 700;
}